@font-face {
  font-family: 윤고딕330;
  src: url("./styles/fonts/YoonGodic330.woff");
}
@font-face {
  font-family: 윤고딕320;
  src: url("./styles/fonts/YoonGodic320.ttf");
}
@font-face {
  font-family: 아름;
  src: url("./styles/fonts/Aruem.ttf");
}
